:root{
  justify-items: center;  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  background-color: black;
}
.lobby-match:hover{
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.lobby-match{
  border-radius: 10px;
  border: solid;
  padding: 1dvh;
  transition: transform 0.2s ease, box-shadow 0.2s ease, text-shadow 0.2s ease;
}
.lobby-match:not(:hover){
  text-shadow: none;
}
.lobby-match-container{
  display: flex;
  flex-direction: column;
  gap: 3dvh;
}
.game-screen{
  justify-items: center;
}
h1{
  font-size: 80px;
}
*{
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
}
.cell{
  height:100px;
  width:100px;
  /* margin:20px; */
  font-size: 80px;
  background-color: black;
}
.cell:hover{
  cursor:pointer;
}



.row{
  display: flex;
  flex-direction: row;
  width: min-content;
}
.row:nth-child(2){
  margin-top: 10px;
  margin-bottom: 10px;
}
.cell:nth-child(3){
  margin-left: 10px;
}
.cell:nth-child(1){
  margin-right: 10px;
}

.board{
  background-color: white;
  justify-content: center;

  transform-origin: center center;
  width: min-content;
}

.score-board{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.score{
  height: 80px;
  align-content: center;
  font-size: 40px;
}
.end-state{
  height: 40px;
  font-size: 40px;
}

.shake{
  animation:shake 0.6s
}

@keyframes shake {
  0%   { transform: translate(0px, 0px) rotate(0deg); }
  10%  { transform: translate(0px, -5px) rotate(-2deg); }
  20%  { transform: translate(0px, 4.5px) rotate(1.5deg); }
  30%  { transform: translate(0px, -4px) rotate(-1deg); }
  40%  { transform: translate(0px, 3px) rotate(1deg); }
  50%  { transform: translate(0px, -2px) rotate(-0.5deg); }
  60%  { transform: translate(0px, 1px) rotate(0.2deg); }
  70%  { transform: translate(0px, .5px) rotate(0deg); }
  80%  { transform: translate(0px, -.25px) rotate(-0.3deg); }
  90%  { transform: translate(0px, .2px) rotate(0.3deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}
.rattle {
  animation: rattle 0.4s linear;
}


@keyframes rattle {
  0%   { transform: translateX(0); }
  10%  { transform: translateX(-2.5px); }
  20%  { transform: translateX(2.5px); }
  30%  { transform: translateX(-2px); }
  40%  { transform: translateX(2px); }
  50%  { transform: translateX(-1.5px); }
  60%  { transform: translateX(1.5px); }
  70%  { transform: translateX(-1px); }
  80%  { transform: translateX(1px); }
  90%  { transform: translateX(-0.5px); }
  100% { transform: translateX(0); }
}
.roll {
  animation: roll 0.4s ease-in-out;
}

@keyframes roll {
  0%   { transform: rotate(0deg); }
  15%  { transform: rotate(2deg); }
  30%  { transform: rotate(-2deg); }
  45%  { transform: rotate(1.5deg); }
  60%  { transform: rotate(-1.5deg); }
  75%  { transform: rotate(.1deg); }
  90%  { transform: rotate(-0.5deg); }
  100% { transform: rotate(0deg); }
}

