
.cell{
  background-color:white;
  height:100px;
  width:100px;
  margin:20px;
  font-size: 80px;
}
.row{
  display: flex;
  flex-direction: row;
  background-color: black;
  width: min-content;
}

.board{
  background-color: white;
  ;
}